DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.ehwinsqrixpiirmgiyii
DB_PASSWORD=CDy7nLQJ155VL4XC
JWT_SECRET=
JWT_EXPIRES_IN=7d
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-4768027701443141-052821-d6e1cfb5456765caf983be8dd2fbe53f-310753577



